<!DOCTYPE html>
<html>
    <head>
        <meta charste="UTF-8" />
        <meta http-eqiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <!-- Favicon -->
        <link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon" />
        <!-- Icon - IconMonster -->
        <link rel="stylesheet" href="https://cdn.iconmonstr.com/1.3.0/css/iconmonstr-iconic-font.min.css" />
        <!-- Mumble UI -->
        <link rel="stylesheet" href="{% static 'uikit/styles/uikit.css' %}" />
        <!-- Dev Search UI -->
        <link rel="stylesheet" href="{% static 'styles/app.css' %}" />

        <title>Home of Validation</title>
    </head>
    </head>
    <body>
        <h1>Prototype Validation</h1>
        <p>This is a placeholder.</p>
        <p>The Management of the Validation Universe.</p>
    </body>
</html>
